/* General */
/* 
color palette
#D1F0B1 tea green
#B6CB9E celadon
#92B4A7 cambridge blue
#8C8A93 taupe gray
#81667A chinese violet
*/
body {
  background-color: #8c8a93;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "a b"
    "a c";

  height: 100vh;
  margin: 0;
}
div {
  border: 1px dashed black;
}
/* Header */
#header {
  text-align: center;
  font-size: 3vw;
  grid-area: b;
  background-color: #81667a;
}
/* Sidebar */
#sidebar {
  grid-area: a;
  background-color: #d1f0b1;
}
#icon img {
  width: 14vw;
}

/* Content */
#taskContent {
  grid-area: c;
  background-color: #92b4a7;
}

/* Task Modal */
#taskModal {
  position: fixed;
  z-index: 2;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
