/* General */
/* 
color palette
#D1F0B1 tea green
#B6CB9E celadon
#92B4A7 cambridge blue
#8C8A93 taupe gray
#81667A chinese violet
*/
body {
  background-color: #8c8a93;
}
div {
  border: 1px dashed black;
}
/* Header */
#header {
  text-align: center;
  font-size: 3vw;
}
/* Sidebar */
#icon img {
  width: 20vw;
}

/* Content */
